# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.gitignore
# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# mypy / type checkers
.mypy_cache/
.dmypy.json

# IDE
.idea/

# SQLite
*.sqlite3

# Misc
*.swp